@using Microsoft.AspNetCore.Components.Web

@inherits LayoutComponentBase
@* @rendermode @(new InteractiveServerRenderMode(prerender: true)) *@
@* @rendermode InteractiveAuto *@

<div class="page" style="">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="">
        <div class="container-body">
            <div class="top-row px-4">
                @if(isAuthenticated)
                {
                    <span>@greeting @username</span>
                }
                <a href="/About">About</a>
            </div>

            <article class="content-article px-4">
                @Body
            </article>
        </div>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
