@page "/managing/manageusermovies/add"

@using Household.SharedComponents.Components.Shared.Loader

<PageTitle>Add User Movies</PageTitle>

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="mb-3">
    <h2 class="h2 mb-2 fw-semibold">Add User Movie</h2>
    <p class="text-muted small">Today: @DateTime.Now.ToShortDateString()</p>
    <p>
        @* <input type="button" class="btn btn-secondary m-sm-2" value="Add User" @onclick='() => NavManager.NavigateTo("/Managing/AddUser")' /> *@
    </p>
</div>

<Loading @ref="_loadingIndicator" />

<section id="dailyShows" class="row">

</section>
