@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

<select id="ddlShowInformation" name="ddlShowInformation" class="form-select" asp-for="ddlShowInformation" asp-items="Model.Options" @onchange="HandleChange">
    <option value="">Choose a show name</option>
@foreach (var c in Options)
{
    <option value="@c.Value" selected="@c.Selected">@c.Text</option>
}
</select>
