@using Blazorise

<Alert @ref="_alert" Visible="@_visible" Color="@_color" Closeable="true" OnCloseClick="OnCloseClick">
    <AlertDescription>
        <div class="row">
            <div class="col-sm-6">
                <h3>@Title</h3>
            </div>
            <div class="col-sm-6 text-end">
                <CloseButton Class="btn btn-secondary" />
            </div>
        </div>
    </AlertDescription>
    <AlertMessage>
    @if (Message != null)
    {
        <span>@Message</span>
    }
    </AlertMessage>
</Alert>
