<p style="@VisibilityStyle">
    <button class="btn btn-primary m-sm-2" @onclick="Add" disabled="@Enabled">
        <span class="oi oi-plus me-2" aria-hidden="true"></span>@ButtonText
    </button>
</p>